#cat-spinner-wrapper {
	position: fixed;
	right: 3rem;
	top: 3rem;
	z-index: 1; // nobody puts cat behind listgroup! 🙀

	#cat-spinner {
		font-size: 4rem;
		animation: rotation 1s infinite linear;
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}
