#cat-spinner-wrapper {
	position: absolute;
	right: 0.5rem;
	top: 1rem;

	#cat-spinner {
		font-size: 4rem;
		animation: rotation 1s infinite linear;
	}
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}
